/* ===========================================================================
  header
============================================================================= */
.header {
  padding: 10px 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  @include mq(s) {
    height: 50px;
    padding: 0;
  }
}

.header_inner {
  max-width: $width_max;
  margin: 0 auto;
  width: $width_base-l;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_logo{
  transition: .2s;
  &:hover {
    opacity: 0.8;
  }
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(s) {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
  }
}

.headerNavList {
  display: flex;
  @include mq(s) {
    display: block;
    width: 96%;
    margin: 0 auto;
  }
}

.headerNavList_linkwrap {
  @include mq(s) {
    border-top: 1px solid #999;
  }
  &:last-of-type {
    @include mq(s) {
      border-bottom: 1px solid #999;
    }
  }
  & + & {
    padding-left: 20px;
    position: relative;
    @include mq(s) {
      padding-left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      background: #797e93;
      display: inline-block;
      width: 1px;
      height: 1.5rem;
      @include mq(s) {
        content: none;
      }
    }
  }
}

.headerNavList_link {
  font-size: 1.21rem;
  color: #333;
  &:hover {
    color: #333;
  }
  @include mq(s) {
    display: block;
    font-size: 1.5rem;
    padding: 10px 5px;
  }
}

.headerNavList_item {
  display: flex;
  @include mq(s) {
    display: block;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

.headerNavList_item-02 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  @include mq(s) {
    display: block;
    margin-left: 0;
  }
}

.headerSpMenuBtn {
  display: none;
  @include mq(s) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 24px;
    margin-right: 1%;
    margin-left: auto;
    transition: background-color .4s;
    z-index: 9999;
    &.is-active .headerSpMenuBtn_line:nth-of-type(1) {
      transform: translateY(8px) rotate(-45deg);
    }
    &.is-active .headerSpMenuBtn_line:nth-of-type(2) {
      opacity: 0;
    }
    &.is-active .headerSpMenuBtn_line:nth-of-type(3) {
      transform: translateY(-12px) rotate(45deg);
      width: 100%;
    }
  }
}

.headerSpMenuBtn_lines {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: none;
  margin: auto 0;
}

.headerSpMenuBtn_line {
  position: absolute;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform .4s;
  &:nth-of-type(1) {
      top: 0;
  }
  &:nth-of-type(2) {
      top: 10px;
  }
  &:nth-of-type(3) {
      bottom: 0;
  }
}



/* ===========================================================================
  footer
============================================================================= */
.footer {
  padding: 10px 0;
  margin-top: auto;
  background-color: #333;
}

.footer_inner {
  width: 96%;
  margin: auto 0;
  text-align: center;
}

.footer_copy {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
