.contentsArea {
  max-width: $width_max;
  margin: 0 auto;
  width: $width_base-l;
}

.contentsArea-s {
  max-width: 720px;
  margin: 0 auto;
  width: $width_base-l;
}

.heading02Wrap {
  margin-bottom: 40px;
}

.heading02Wrap {
  position: relative;
  padding-bottom: 5px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background-color: $color_main;
  }
}

.heading02 {
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.heading02-sub {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 5px;
}

.heading03 {
  position: relative;
  font-weight: bold;
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  padding-left: 1.6rem;
  margin-bottom: 20px;
  margin-top: 15px;
  &::before {
    content: "";
    border-radius: 3px;
    background-color: $color_main;
    display: inline-block;
    width: .3rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.heading04 {
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  padding-left: 1.6rem;
  margin-bottom: 20px;
  margin-top: 15px;
  &::before {
    content: "";
    background-color: $color_main;
    display: inline-block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.formArea {
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

.input-01 {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  background: #fff;
  padding: 10px;
}

.input-02 {
  padding: 10px;
  width: 100%;
  background-color: #f4f5f7;
  font-size: 1.4rem;
}

.select-01 {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  background: #fff;
  padding: 10px;
}

.select-02 {
  @extend .select-01;
  font-size: 1.4rem;
  padding: 7px 10px;
}

.form-group + .form-group {
  margin-top: 20px;
}

.btn {
  font-size: 1.4rem;
}

.submitBtn {
  background-color: $color_main;
  border: 2px solid $color_main;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  padding: .5rem 2rem;
  position: relative;
  text-align: center;
  transition: .2s;
  &:hover {
    background-color: #fff;
    color: $color_main;
  }
}

.checkbox-01 {
  position: relative;
  padding-left: 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  &::before {
    top: 50%;
    left: 9px;
    width: 8px;
    height: 13px;
    margin-top: -9px;
    border-right: 2px solid $color_main;
    border-bottom: 2px solid $color_main;
    opacity: 0;
    transform: rotate(45deg);
    z-index: 1;
    transition: all .3s;
    content: '';
    position: absolute;
    display: block;
  }
  &::after {
    top: 50%;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: #fff;
    transform: translateY(-50%);
    border: 1px solid #9e9e9e;
    content: '';
    position: absolute;
    display: block;
  }
}

input[type="checkbox"]:checked+.checkbox-01::before{
  opacity: 1;
}

.section-support {
  background-color: #f4f5f7;
  padding: 60px 0 90px;
}

.section-newPost {
  padding: 60px 0 50px;
}

.section_inner-01 {
  max-width: $width_max;
  margin: 0 auto;
  width: $width_base-l;
}

.section_inner-search {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

.leadText {
  font-size: 1.6rem;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
}

.categoryList_item {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #797e93;
  padding: .3rem 1rem;
  color: #797e93;
  display: block;
  margin-right: 10px;
}

.section-search {
  padding: 60px 0 50px;
  background: url("../images/index_bg.jpg") no-repeat center/cover;
}

.searchArea {
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 26%);
  padding: 20px 30px;
}

.showFlexArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.sideContent {
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
  width: 20%;
  padding: 15px;
}

.archiveContent {
  width: 75%;
}

.profileContent {
  width: 75%;
}

.registContent {
  width: 75%;
}

.searchList {
  display: flex;
  flex-wrap: wrap;
}

.searchList_item {
  width: calc((100% - 30px) / 3);
  margin-right: 15px;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  &:nth-of-type(n+4) {
    margin-top: 15px;
  }
}

.searchList_link {
  display: block;
}

.selectWrap {
  width: 100%;
  position: relative;
  &::after {
    content: "expand_more";
    font-family: Material Icons;
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
}

.searchArea_title {
  margin: 15px 0 5px;
}

.searchBtn {
  max-width: 180px;
  margin: 20px auto 0;
  background-color: $color_main;
  border: 2px solid $color_main;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  transition: .2s;
  &:hover {
    background-color: #fff;
    color: $color_main;
  }
}

.registBlock_item {
  & + & {
    margin-top: 20px;
  }
}

.registBlock_text {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  border-bottom: 2px solid $color_main;
}

.tabBtn {
  display: block;
  padding: 5px 10px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border: 1px solid transparent;
  border-bottom-color: #9e9e9e;
  background-color: #fff;
  outline: none;
  width: 50%;
  &.is-active {
    background-color: #f0f8ff;
    margin-bottom: -1px;
    border-color: #9e9e9e #9e9e9e #fff;
  }
}

.tabContent_item {
  display: none;
  &.show {
    display: block;
  }
}

.table-01 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  > tbody {
    th {
      font-size: 1.4rem;
      width: 25%;
      border-bottom: 2px solid $color_main;
      padding: 15px;
      text-align: center;
      vertical-align: middle;
    }
    td {
      font-size: 1.4rem;
      border-bottom: 2px solid #cecece;
      padding: 15px;
    }
  }
}


.drop-zone {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;

.no-active {
  display: none;
}

.drop-zone-text {
   padding: 10px 0px;
}

.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.75);
   opacity: 0.8;
   z-index: 100;
}

.overlay-text {
   display: block;
   position: absolute;
   top: 50%;
   left: 33%;
   color: #F7F7F7;
}

input {
   display: none;
}

.select-file {
   display: inline-block;
   margin: 15px auto;
   padding: 5px 15px;
   font-size: 1.2rem;
   background-color: #999;
   border-radius: 5px;
   color: #F7F7F7;
   cursor: pointer;
   z-index: 1;
}

.select-file::hover {
   background-color: #136EB6;
}

}

.tabBtnArea {
  display: flex;
  > .tabBtn {
    width: 50%;
  }
}

.tabArea {
  padding-bottom: 40px;
}

.commentArea {
  padding-bottom: 20px;
}

.commentArea_item {
  position: relative;
  padding-top: 10px;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 15px;
    border-right: 8px solid transparent;
    border-bottom: 14.6025px solid #eee;
    border-left: 8px solid transparent; 
  }
  > div {
    background: #eee;
    padding: 8px;
    border-radius: 5px;
  }
  & + .commentArea_name  {
    margin-top: 30px;
  }
}

.btn-favo {
  display: flex;
  align-items: center;
  border: 1px solid #f06292;
  background: #fff;
  color: #f06292;
  border-radius: 20px;
  cursor: pointer;
  padding: 2px 10px;
}

.newPostArea_text {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.newPostArea_link {
  box-shadow: 0 0 2px rgb(0, 0, 0, 18%);
  position: relative;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.newPostArea {
  display: flex;
  flex-wrap: wrap;
}

.newPostArea_link {
  display: block;
  transition: all .3s;
  &:hover {
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 3px 18px 3px rgb(0 0 0 / 8%);
  }
}

.newPostArea_item {
  width: calc((100% - 45px) / 4);
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    .newPostArea_img::before {
      opacity: 1;
    }
    .newPostArea_img::after {
      opacity: 1;
    }
  }
}

.newPostArea_item-02 {
  width: calc((100% - 30px) / 3);
  margin-right: 15px;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  &:nth-of-type(n+4) {
    margin-top: 15px;
  } 
}

.newPostArea_title {
  color: #333;
  margin-bottom: 3px;
}

.newPostArea_cat {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 3px 5px;
  color: #666;
  display: inline-block;
}

.newPostArea_content {
  padding: 10px 15px;
  background: #fff;
}

.newPostArea_img {
  max-height: 160px;
  position: relative;
  > img {
    max-height: 160px;
    width: 100%;
    object-fit: cover;
  }
  &::after {
    content: "VIEW MORE";
    display: block;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-family: Lato,sans-serif;
    letter-spacing: .1em;
    color: #fff;
    z-index: 10;
    position: absolute;
    transition: all .5s;
  }
  &::before {
    position: absolute;
    transition: all .5s;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,50%);
    opacity: 0;
  }
}

.btn-01 {
  margin: 3rem auto 0;
  max-width: 240px;
  background-color: $color_main;
  border: 2px solid $color_main;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  padding: .5rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  transition: .2s;
  &:hover {
    text-decoration: none;
    color: $color_main;
    background-color: #fff;
  }
}

.sideContentList_title {
  position: relative;
  margin-bottom: 7px;
  font-weight: bold;
  padding-left: 3.5rem;
  font-size: 1.4rem;
}

.sideContentList_item {
  list-style-type: none;
  & + & {
    margin-top: 20px;
  }
  .material-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: $color_main;
  }
}

.sideItem_link {
  display: block;
  font-size: 1.2rem;
  position: relative;
  padding: 10px 10px 10px 30px;
  &:hover {
    text-decoration: none;
  }
  .material-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: $color_main;
  }
}

.sideItem_item {
  list-style-type: none;
}